title{
 font-family: fantasy;
    color: mediumvioletred;
}
img{
    width: 200px;
    border-radius: 8px;
    border: 8px solid cornflowerblue;
}
h1{
    font-family: fantasy;
    color: mediumvioletred;
}
.section h2{
    color: mediumvioletred;
    font-family: fantasy;
}
.section body{
    color: black;
    font-family: Arial;
}

